<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock %}</title>
</head>

{% block body %}
<body>
    <h1>Pintest - Meu Primeiro site no ar</h1>

    {% block formulario%}
    <form method="POST">
        {{ form.csrf_token }}

        {{ form.email.label() }}
        {{ form.email() }}

        {{ form.senha.label() }}
        {{ form.senha() }}

        {{ form.botaoConfirmacao() }}
    </form>
    {% endblock %}
</body>
{% endblock %}
</html>